@font-face {
  font-family: Fontin;
  src: url(../font/fontin.otf);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #111;
  color: #A38D6D;
  font-family: Fontin, Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 20px;
}

a {
  color: #A38D6D;
  text-decoration: underline;
}

a:hover {
  color: #87745A;
}

.anointing {
  border: 3px #745A2F solid;
  border-radius: 2px;
  min-width: 350px;
}

.boxed {
  border: 2px #A08C4A solid;
  background-color: rgba(200, 200, 200, 0.05);
}

.item-select {
  width: 110px;
  height: 220px;
}

.oil-select {
  width: 82px;
  height: 82px;
  margin: 1rem 0;
}

.oil-select:not(:last-child) {
  margin-right: 2rem;
}

.passive {
  border: 3px #745A2F solid;
  border-radius: 2px;
  min-width: 350px;
  min-height: 200px;
}

.name {
  color: #EEE;
}

.description {
  color: #8787FE;
}

.oil {
  cursor: pointer;
}

label {
  font-weight: bold;
}

input {
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #745A2F;
  border-radius: 2px;
  color: #A38D6D;
  padding: 0 0.2rem;
}

.my-oils > div:not(:last-child) {
  margin-right: 0.5rem;
}

.my-oils img {
  width: 50px;
  height: 50px;
}

.my-oils input {
  width: 55px;
}

.table {
  color: #A38D6D;
}

.table-bordered td, .table thead th {
  border-color: #745A2F;
}
