@font-face {
  font-family: Fontin;
  src: url(../font/fontin.otf);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #111;
  color: #A38D6D;
  font-family: Fontin, Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 20px;
}

a {
  color: #A38D6D;
  text-decoration: underline;
}

a:hover {
  color: #87745A;
}

.tooltip-inner {
  max-width: none;
}

.hidden {
  display: none !important;
}

.anointing {
  border: 3px #745A2F solid;
  border-radius: 2px;
  min-width: 350px;
}

.boxed {
  border: 2px #A08C4A solid;
  background-color: #1A1A1A;
}

.oil:hover {
  cursor: pointer;
  background-color: #212121;
}

.type-select:hover {
  cursor: pointer;
}

.type-select.faded:hover {
  opacity: 0.8;
}

.faded {
  opacity: 0.5;
}

.oil-select {
  width: 82px;
  height: 82px;
  margin: 1rem 0;
}

.oil-select:not(:last-child) {
  margin-right: 2rem;
}

.anointment {
  border: 3px #745A2F solid;
  border-radius: 2px;
  min-width: 350px;
  min-height: 200px;
}

.name {
  color: #EEE;
}

.description {
  color: #8787FE;
}

label {
  font-weight: bold;
}

input {
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #745A2F;
  border-radius: 2px;
  color: #A38D6D;
  padding: 0 0.2rem;
}

.my-oils > div:not(:last-child) {
  margin-right: 0.5rem;
}

.my-oils img {
  width: 50px;
  height: 50px;
}

.my-oils input {
  width: 55px;
}

.tower-select img {
  margin: 1rem 2rem 0 0;
  border: 2px #A08C4A solid;
  border-radius: 50%;
  background-color: rgba(100, 100, 100, 0.15);
}

.tower-select img:hover {
  background-color: rgba(100, 100, 100, 0.30);
  cursor: pointer;
}

.table {
  color: #A38D6D;
}

.table-bordered td, .table thead th {
  border-color: #745A2F;
}

.table th {
  cursor: pointer;
}

.table th u {
  margin-right: 0.1rem;
}

td.icon img, img.icon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

td img.icon {
  margin-right: 0.5rem;
}

h3 img.icon {
  margin-right: -0.25rem;
}
